/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* End of Bell's Reset */

/* Begin My CSS */

.container { 
    max-width: 60rem;
    margin: 0 auto;
  }

body {
    font-family: Neuton;
    background-color: #262d34;
    color: #c5c2b7;
    font-size: clamp(1.5rem, 2.5vw, 1rem); 

}

h1, h2 {
    font-size: clamp(2rem, 2.5vw, 5rem);
    line-height: 1.1;
    margin: 1em 0 0 0;
    max-width: 65ch;
}

figure {
    width: 110%;
    border-width: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-content: center;
}
/*I previously accomplished this in WEB Dev 1, so I would be making minor changes to the code*/
/*Adding grid to start making the hover effect*/
.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
  }
  
  .img-wrapper {
    position: relative;
    overflow: hidden;
  }

  /* Hover effect styling */

  .img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: clamp(1.5rem, 2.5vw, 1rem);
    padding: 1rem;
    background: rgb(71, 80, 87, .4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Creating transition speed*/

  .img-wrapper > img,
  .img-wrapper > .content {
    transition: 200ms ease-in-out;
  }
  /* Styling the hover*/
  .img-wrapper:hover > img.blur {
    filter: blur(5px);
  }
  
  .img-wrapper:hover > img.zoom {
    transform: scale(1.1);
  }

  /* Changes in fading while hovering over the image*/
  .img-wrapper > .content.fade {
    opacity: 0;
  }
  .img-wrapper:hover > .content.fade {
    opacity: 1;
  }

  @media screen and (min-width : 60em) {
    figure {
        display:grid;
    grid-template-columns: 2fr 1fr;}

figcaption {
    display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
font-variant: small-caps;
margin-left: .1rem;
}

figure img {
    width: 100%;}
}

@media screen and (min-width: 100em) {
   
    #photogallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #photogallery h3 {
        grid-column: 1/-1;
    }
       
    
    figure {
        display: block;}

} 

@media screen and (min-width: 100em) {
    

#video{
width: 200pt;
}


}

iframe{
    border-style: dotted;
}

/* Styling the contact form */

#formelements {

    display: grid;
    row-gap: 1em;
    align-items: center;
}

#contact {
padding: .5rem;
max-width: 600px;
margin: 2rem auto;
}